<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa et recusandae, aut nulla labore ducimus, deleniti voluptates quam quisquam, perferendis sint necessitatibus nobis sit! Deleniti debitis ea eligendi iure ipsum. -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script
            src="https://kit.fontawesome.com/b1960b074d.js"
            crossorigin="anonymous"
        ></script>

      
    </body>
</html>
